.gitattributes text eol=lf
.gitignore text eol=lf

# Python
*.py text eol=lf
*.ipynb text eol=lf

# Miscellaneous
*.lock text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
